-e nemo-gym[dev] @ ../../
../nemo_relay-0.4.0-cp311-abi3-linux_x86_64.whl
dspy>=3.3.0b1
haystack-ai>=2.30.0
haystack-experimental>=0.19.0
nvidia-haystack>=0.3.0
colorama
python-dotenv
git+https://github.com/microsoft/tale-suite.git@train_test_splits#egg=tale-suite
